<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Customized CSS -->
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='rank/rank.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='language/language.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basic/nav.css') }}">
	<!-- Customized JS -->

	<!-- Bootstrap CSS -->
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

	<!-- Bootstrap CDN -->
	<script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js"></script>

    {% if title %}
        <title>My Page - {{ title }}</title>
    {% else %}
		<title> Fashion AI, Eva </title>
    {% endif %}
</head>
<body>
	<div id="app">
		<main class="content">
			<nav class="local-nav">
				<div class="local-nav-links">
					<div class="logo">
						<a href="#">Eva Ranks</a>
					</div>
					<a class="menu" id="rank" href="{{url_for('rank.rank')}}">AI Ranks</a>
					<a class="menu" id="calender" href="{{url_for('calendar.calendar')}}">Calendar</a>
					<a class="menu"  href="{{url_for('lookbook.main')}}">Leaderboard</a>
					<a href="{{url_for('language.language')}}" class="menu">Language</a>
					{%if current_user.is_authenticated() %}
					<a class="menu" href="{{url_for('users.account',user_id=current_user.id)}}">My Page</a>
					{%endif%}
					{%if current_user.is_authenticated() %}
					<a class="menu" href="{{url_for('users.logout')}}">Logout</a>
					{%else%}
					<a class="menu" href="{{url_for('users.login')}}">Login</a>
					{%endif%}
				</div>
			</nav>
			{% block content %}{% endblock %}
		</main>	
	</div>

    <!-- Optional JavaScript -->
	<!-- jQuery first, Popper.js, Bootstrap JS, Swiper JS, Customized JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='basic/nav.js') }}"></script>

</body>
</html>
